
/* Z-index to ensure that menu is displayed in front of everything else */
#menu{
	z-index: 5;
	border-bottom: 8px;
	margin-bottom: 20px;
}

#menu ul{
	list-style: none;
	padding-top: 8px;
}

#menu.horizontal li{
	position: relative;
	display: inline-block;
	width: 80px;							/* Width of each element in menu */
	text-align: center;
}

#menu li a, a:link, a:active, a:visited {
	text-decoration: none;
	color: black;
}

#menu li a:hover
{
	background-color: rgb(146, 166, 185);
}

li.divider{
	border-right: 1px solid black;
}

/* Border around menu and/or drop down */
#menu.framed{
	border: solid 1px black;
	border-radius: 8px;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
}

/* Gray gradient for menu and/or drop down */
#menu.framed-gray{
	background: rgb(194, 205, 215);
	height: 40px;
	-moz-box-shadow: 10px 10px 5px rgb(100, 126, 152);
	-webkit-box-shadow: 10px 10px 5px rgb(100, 126, 152);
	box-shadow: 10px 10px 5px rgb(100, 126, 152);
}